body{
  background: black;
}

.calculator-buttons{
  margin: 100px auto;
  width: 370px;
  height: 400px;
  position: relative;
  padding: 130px 15px 30px 15px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 15px;
  background: rgba( 229, 160, 197, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

button{
  color: white;
  font-size: 18px;
  font-family: cursive;
}

.calculator-buttons::before{
  content: '';
  position: absolute;
  width: 400px;
  height: 2px;
  background-color: pink;
  top: 17%;
}

.calc-button,.calc-button-1{
  background: rgba( 172, 201, 235, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.calc-button-1{
  grid-column: 1/4;
}
button:hover {
  background: #9aabc6;
}
button:active {
  background: #7a90b3;
}